body {
  font-family: sans-serif;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

input, button {
  font-size: inherit;
  box-sizing: border-box;
}

#path {
  display: block;
  min-width: 20em;
  width: 100%;
  margin: 1em 0;
}

#buttons {
  float: right;
}

.clearfix {
  clear: both;
}

ol#log {
  list-style: none;
  padding-left: 0em;
}

#log li:before {
  display: inline-block;
  margin-right: 0.5em;
}

#log .error:before {
  content: 'Error: ';
  color: red;
  font-weight: bold;
}

#log .info:before {
  content: 'Info: ';
  color: blue;
}
