body {
  font-family: sans-serif;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

input, button {
  font-size: inherit;
  box-sizing: border-box;
}

#path {
  display: block;
  min-width: 20em;
  width: 100%;
  margin: 1em 0;
}

#buttons {
  float: right;
}

.clearfix {
  clear: both;
}
